.parent {
    -fx-background-image: url(../images/ochi.jpg);
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 1024 600;
}

.buttons {
    -fx-background-color: #42E24F;
    -fx-text-fill: #ffffff;
}

.buttons:hover {
    -fx-background-color: #42E24F;
    -fx-text-fill: #ffffff;
    -fx-border-color: #fff;
    -fx-border-width: 1px;
}

.intrebare-label {
    -fx-text-fill: #0000FF;
}

.descriere {
    -fx-text-fill: #800000;
    -fx-font-size: 25;
}